<template>
  <div class="text-white navbar">
    <div class="nav-content">
      <div class="hidden md:block container mx-auto text-sm py-2">
        <div>
          <span>Download App</span>
          <span><img src="@/assets/white-google-store.svg" class="inline mx-1" /></span>
          <span><img src="@/assets/white-app-store.svg" class="inline mx-1" /></span>
        </div>
        <div class="flex justify-between mt-4 mb-3">
          <div><img src="@/assets/white-logo.svg" /></div>
          <div>
            <div class="flex justify-around">
              <div class="mx-2 bg-pink rounded-full p-1">
                <img class="inline circled-icon" src="@/assets/icons/us.svg" /><span>English</span>
              </div>
              <div class="mx-2 bg-pink rounded-full p-1">
                <img class="inline circled-icon" src="@/assets/icons/phone.svg" /><span
                  >Get The App</span
                >
              </div>
              <div class="mx-2 bg-pink rounded-full p-1">
                <img class="inline circled-icon" src="@/assets/icons/reward.svg" /><span
                  >Rewards</span
                >
              </div>
              <div class="mx-2 bg-pink rounded-full p-1">
                <img class="inline circled-icon" src="@/assets/icons/profile.svg" /><span
                  >Sign up</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="md:hidden">
        <button
          type="button"
          class="pt-3 ps-3 text-white hover:text-white focus:outline-none focus:text-white"
          @click="toggleMobileMenu"
        >
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            ></path>
          </svg>
        </button>
      </div>

      <div :class="['absolute', 'w-full', mobileMenuOpen ? 'block' : 'hidden']">
        <div class="flex flex-col gap-2 w-6/12">
          <div class="mx-2 bg-pink rounded-full p-1">
            <img class="inline circled-icon" src="@/assets/icons/us.svg" /><span>English</span>
          </div>
          <div class="mx-2 bg-pink rounded-full p-1">
            <img class="inline circled-icon" src="@/assets/icons/phone.svg" /><span
              >Get The App</span
            >
          </div>
          <div class="mx-2 bg-pink rounded-full p-1">
            <img class="inline circled-icon" src="@/assets/icons/reward.svg" /><span>Rewards</span>
          </div>
          <div class="mx-2 bg-pink rounded-full p-1">
            <img class="inline circled-icon" src="@/assets/icons/profile.svg" /><span>Sign up</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
const mobileMenuOpen = ref(false)

const toggleMobileMenu = () => {
  mobileMenuOpen.value = !mobileMenuOpen.value
}
</script>

<style scoped>
.circled-icon {
  background-color: white;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  padding: 0.3rem;
  margin-inline-end: 0.2rem;
}

.navbar {
  /* background-image: url(/images/aircraft.png); */
}
.nav-content {
  /* background-color: #d30975da; */
}
</style>
