<template>
  <div class="bg-pink text-white navbar">
    <div class="nav-content">
      <div class="container mx-auto text-sm py-2">
        <div>
          <span>Download App</span>
          <span><img src="@/assets/white-google-store.svg" class="inline mx-1" /></span>
          <span><img src="@/assets/white-app-store.svg" class="inline mx-1" /></span>
        </div>
        <div class="flex justify-between mt-4 mb-3">
          <div><img src="@/assets/white-logo.svg" /></div>
          <div>
            <div class="flex justify-around">
              <div class="mx-2">
                <img class="inline circled-icon" src="@/assets/icons/us.svg" /><span>English</span>
              </div>
              <div class="mx-2">
                <img class="inline circled-icon" src="@/assets/icons/phone.svg" /><span
                  >Get The App</span
                >
              </div>
              <div class="mx-2">
                <img class="inline circled-icon" src="@/assets/icons/reward.svg" /><span
                  >Rewards</span
                >
              </div>
              <div class="mx-2">
                <img class="inline circled-icon" src="@/assets/icons/profile.svg" /><span
                  >Sign up</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.circled-icon {
  background-color: white;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  padding: 0.3rem;
  margin-inline-end: 0.2rem;
}

.navbar {
  background-image: url(/images/aircraft.png);
}
.nav-content {
  background-color: #d30975da;
}
</style>
