<template>
  <div class="footer relative bg-black text-white navbar pt-48 mt-64">
    <div
      class="absolute bg-pink flex flex-col md:flex-row justify-center md:justify-evenly items-center p-4 rounded-2xl m-auto left-0 right-0 w-10/12 floating-section"
    >
      <img src="@/assets/images/phone.svg" class="hidden md:block w-10 md:w-auto" />
      <div class="text-center">
        <p class="text-3xl mt-1 md:mt-20 font-bold max-w-lg">
          Scan the QR code and download our app
        </p>
        <p class="mt-5">Scan the QR code with your device camera and download our app</p>
        <div class="flex gap-1 justify-center mt-5">
          <a href="#" class="flex bg-black rounded-md px-4 py-1 justify-around max-w-fit">
            <img src="@/assets/white-google-store.svg" class="me-2" />
            <div class="">
              <p class="text-xs text-start">GET IT ON</p>
              <p class="font-bold text-sm">Google play</p>
            </div>
          </a>
          <a href="#" class="flex bg-black rounded-md px-4 py-1 justify-around max-w-fit">
            <img src="@/assets/white-google-store.svg" class="me-2" />
            <div class="">
              <p class="text-xs text-start">Download on the</p>
              <p class="font-bold text-sm">App Store</p>
            </div>
          </a>
        </div>
      </div>
      <div class="mt-2 md:mt-0 bg-white text-black text-center rounded-2xl max-w-fit p-4">
        <p>You can download the application</p>
        <p>by scanning the <span class="text-pink">QR Code</span> below.</p>
        <img src="@/assets/images/qr-code.svg" class="m-auto" />
      </div>
    </div>
    <div class="nav-content mt-48 md:mt-0">
      <div class="container mx-auto text-sm py-2">
        <div class="flex flex-col md:flex-row items-center justify-between">
          <div class="flex">
            <img src="@/assets/white-logo.svg" />
            <div class="flex flex-col justify-center">
              <p class="mx-2 text-lg font-bold w-max">Have any question? Let us help you!</p>
              <p class="mx-2 text-sm">Lörem ipsum krorat ekosiv och sende anim</p>
            </div>
          </div>
          <div>
            <p class="font-bold text-xl text-center md:text-start mt-4 md:mt-0">SAY HI</p>
            <div>
              <div class="hero h-400px flex flex-col px-2 rounded-full">
                <div class="search-box mx-auto my-auto rounded-full">
                  <form class="flex flex-row">
                    <input
                      class="h-16 bg-gray-100 text-grey-darker text-grey-darkest border border-gray-100 font-bold w-full py-1 ps-4 px-2 outline-none text-lg text-gray-600 rounded-s-full"
                      type="text"
                      placeholder="Input your email here"
                    />
                    <span
                      class="flex items-center bg-gray-100 rounded rounded-l-none border-0 px-3 font-bold text-grey-100 rounded-e-full"
                    >
                      <button
                        class="bg-pink hover:bg-gredient-light text-lg text-white font-bold py-3 px-6 rounded-full"
                      >
                        Subscribe
                      </button>
                    </span>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-3 pt-20 pb-10 text-center">
          <div class="col-span-3 md:col-span-1">
            <a href="#">About</a>
            <a href="#">Packages</a>
            <a href="#">News</a>
            <a href="#">Partners</a>
            <a href="#">Contact</a>
          </div>
          <div class="flex justify-center gap-2 col-span-3 md:col-span-1 mt-4 mb-4 md:mt-0 md:mb-0">
            <a href="#"><img src="@/assets/icons/fb.svg" /></a>
            <a href="#"><img src="@/assets/icons/x.svg" /></a>
            <a href="#"><img src="@/assets/icons/instagram.svg" /></a>
            <a href="#"><img src="@/assets/icons/tiktok.svg" /></a>
            <a href="#"><img src="@/assets/icons/telegram.svg" /></a>
          </div>
          <div class="col-span-3 md:col-span-1">
            © {{ new Date().getFullYear() }} Time 2 Travel Powered by Innovation Factory
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.footer {
  background-image: url(/images/footer-bg.png);
}
.circled-icon {
  background-color: white;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  padding: 0.3rem;
  margin-inline-end: 0.2rem;
}
.floating-section {
  top: -13rem;
}
</style>
