<template>
  <main>
    <HeroSection />
    <FavoriteDestinationsSection />
    <DestinationsSection />
  </main>
</template>

<script setup lang="ts">
import HeroSection from '@/components/HeroSection.vue'
import FavoriteDestinationsSection from '@/components/FavoriteDestinationsSection.vue'
import DestinationsSection from '@/components/DestinationsSection.vue'
</script>
