<template>
  <div class="container m-auto pt-20">
    <div class="grid grid-cols-2">
      <img src="@/assets/images/login-bg.png" />
      <div class="p-10 login-form">
        <h3 class="font-bold text-black text-2xl">Login</h3>
        <p class="text-gray-400">See what is going on with your business</p>
        <button
          class="bg-white border-solid border-2 border-gray-200 rounded-2xl p-2 w-full text-black mt-3"
        >
          <img src="@/assets/icons/google.svg" class="inline w-10" />
          <span>Continue with Google</span>
        </button>
        <div class="w-full">
          <form class="rounded pt-6 pb-8 mb-4">
            <div class="mb-4">
              <label class="block text-black text-sm font-bold mb-2" for="email"> Email </label>
              <input
                class="appearance-none rounded-2xl w-full bg-white border-solid border-2 border-gray-200 p-3 autofill:bg-white"
                id="email"
                type="text"
                placeholder="Email"
                v-model="emailRef"
                required
              />
            </div>
            <div class="mb-6">
              <label class="block text-black text-sm font-bold mb-2" for="password">
                Password
              </label>
              <input
                class="appearance-none rounded-2xl w-full bg-white border-solid border-2 border-gray-200 p-3 autofill:bg-white"
                id="password"
                type="password"
                placeholder="******************"
                v-model="passwordRef"
                required
              />
            </div>
            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <input
                  id="remember-me"
                  type="checkbox"
                  checked
                  name="remember-me"
                  class="me-1 bg-pink accent-pink"
                />
                <label for="remember-me">Remember Me</label>
              </div>
              <a class="inline-block align-baseline font-bold text-sm text-pink" href="#">
                Forgot Password?
              </a>
            </div>
            <button
              class="bg-pink text-white font-bold p-3 rounded-2xl focus:outline-none focus:shadow-outline w-full mt-4"
              type="button"
              @click="onSubmitHandler"
            >
              Sign In
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
// TODO: use vee-validate and yup for forms

import { ref } from 'vue'
import { useAuthStore, type User } from '@/stores/auth'
import { useRouter } from 'vue-router'

const emailRef = ref(null)
const passwordRef = ref(null)

const store = useAuthStore()
const router = useRouter()

const onSubmitHandler = async () => {
  await store.login({ email: emailRef.value, password: passwordRef.value } as User)
  const error = Object.values(store.errors)
  if (error.length === 0) {
    router.push({ name: 'home' })
  } else {
    // TODO: show error message on errors (sweet alert for example)
    alert('fail login')
  }
}
</script>

<style scoped>
.login-form {
  background-image: url(/images/form-bg.png);
  background-repeat: no-repeat;
  background-position: right 0 top 0;
}
</style>
