<template>
  <div class="relative w-full h-full">
    <img :src="item.image" class="absolute w-max main-image left-1/2 transform -translate-x-1/2" />
    <div
      class="absolute bottom-5 p-4 w-8/12 md:w-11/12 bg-pink80 text-white left-1/2 transform -translate-x-1/2 rounded-xl"
    >
      <div class="flex justify-center md:justify-between items-center">
        <div>
          <p class="text-sm md:text-base font-bold">{{ item.title }}</p>
          <p class="text-xs hidden md:block">{{ item.location }}</p>
        </div>
        <div class="hidden md:block">
          <span v-for="i in parseInt(item.rate)" :key="i">
            <img src="@/assets/icons/star.svg" class="inline w-4" />
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
const props = defineProps(['item'])
const item = props.item
console.log('item', props.item)
</script>

<style scoped>
.main-image {
  max-width: 100%;
  max-height: 100%;
}
</style>
