<template>
  <div class="container w-10/12 m-auto p-10 bg-pink rounded-2xl mt-5">
    <p class="font-bold text-white text-2xl">Flight deals by destination</p>
    <div class="grid grid-cols-3 gap-5 mt-5">
      <div v-for="i in 9" :key="i" class="col-span-3 md:col-span-1">
        <div class="flex bg-white rounded-2xl justify-start items-center p-2">
          <img src="/images/bulding1.png" class="w-20 h-w-20 ms-2 me-2 rounded-xl" />
          <div class="flex flex-col">
            <p class="font-bold text-pink">Istanbul to Dubai</p>
            <p class="text-sm">Round trip</p>
            <p class="text-sm text-gray-400">13 jan 2024 to 30 feb 2024</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
