<template>
  <div class="container m-auto w-10/12 flex justify-between mb-5">
    <p class="text-black text-md md:text-2xl font-bold">Top hotel in Favorite Destinations</p>
    <button
      href="#"
      class="text-xs md:text-sm border border-solid border-gray-300 rounded-full py-2 px-4"
    >
      See more Hotel deals
    </button>
  </div>
  <div class="container m-auto w-10/12 grid grid-cols-2 gap-3 main-container">
    <div class="w-full h-full col-span-2 md:col-span-1">
      <DealSquareCard
        class=""
        :item="{
          id: 1,
          title: 'Viva Hotel',
          image: '/images/bulding1.png',
          location: 'Dubai, United Arab Emirates',
          creation_date: '',
          rate: '5'
        }"
      />
    </div>
    <div class="grid grid-cols-2 gap-3 col-span-2 md:col-span-1">
      <DealSquareCard
        :item="{
          id: 1,
          title: 'Viva Hotel',
          image: '/images/bulding1.png',
          location: 'Dubai, United Arab Emirates',
          creation_date: '',
          rate: '3'
        }"
      />
      <DealSquareCard
        :item="{
          id: 1,
          title: 'Viva Hotel',
          image: '/images/bulding1.png',
          location: 'Dubai, United Arab Emirates',
          creation_date: '',
          rate: '3'
        }"
      />
      <DealSquareCard
        :item="{
          id: 1,
          title: 'Viva Hotel',
          image: '/images/bulding1.png',
          location: 'Dubai, United Arab Emirates',
          creation_date: '',
          rate: '2'
        }"
      />
      <DealSquareCard
        :item="{
          id: 1,
          title: 'Viva Hotel',
          image: '/images/bulding1.png',
          location: 'Dubai, United Arab Emirates',
          creation_date: '',
          rate: '3'
        }"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import DealSquareCard from '@/components/DealSquareCard.vue'
</script>

<style scoped>
.main-container {
  height: 30rem;
}
</style>
