<template>
  <img src="@/assets/images/hero-bg.png" class="absolute top-0 -z-10 w-full" />
  <div class="realtive container m-auto md:pt-10 text-white w-10/12 min-h-screen mb-16 md:mb-56">
    <p>Just seconds away</p>
    <p class="md:text-3xl font-bold">
      OPEN THE WAY OPEN THE<br />
      WORLD
    </p>
    <ul
      class="flex flex-wrap mt-1 md:mt-3 text-xs md:text-sm font-medium text-center text-gray-500 dark:text-gray-400"
    >
      <li class="me-2">
        <a
          href="#"
          class="inline-flex gap-1 justify-center items-center px-2 md:px-5 py-0.5 md:py-1 text-white bg-pink rounded-lg active"
          aria-current="page"
          ><img src="@/assets/icons/telegram.svg" class="w-4 md:w-6" /> Flights</a
        >
      </li>
      <li class="me-2">
        <a
          href="#"
          class="inline-flex gap-1 justify-center items-center px-2 md:px-5 py-0.5 md:py-1 rounded-lg bg-white text-black hover:text-gray-900 hover:bg-gray-100"
          ><img src="@/assets/icons/phone.svg" class="w-3 md:w-5" />Hotels</a
        >
      </li>
    </ul>
    <div
      class="text-xs md:text-base rounded-xl border h-10 mt-4 mb-4 flex p-1 relative items-center bg-white text-gray-700 w-7/12 md:w-5/12"
    >
      <div class="w-full flex justify-center">
        <button>One way</button>
      </div>
      <div class="w-full flex justify-center">
        <button>Round trip</button>
      </div>
      <div class="w-full flex justify-center">
        <button>Multi city</button>
      </div>
      <span
        class="bg-pink shadow text-white flex items-center justify-center w-1/3 rounded-xl h-8 transition-all top-[4px] absolute left-1"
      >
        Text
      </span>
    </div>
    <div>
      <div class="flex">
        <div
          class="inline-flex flex-col bg-white text-black rounded-s-xl p-1 md:p-4 text-xs md:text-base h-10 md:h-20"
        >
          <label class="text-gray-500">FROM</label>
          <select class="bg-white" @change="changeFromHandler($event)" v-model="from">
            <option value="1">City 1</option>
            <option value="2">City 2</option>
            <option value="3">City 3</option>
            <option value="4">City 4</option>
          </select>
        </div>
        <div
          class="inline-flex flex-col bg-white text-black rounded-e-none p-1 md:p-4 text-xs md:text-base me-1 h-10 md:h-20"
        >
          <label class="text-gray-500">TO</label>
          <select class="bg-white" @change="changeToHandler($event)" v-model="to">
            <option value="1">City 1</option>
            <option value="2">City 2</option>
            <option value="3">City 3</option>
            <option value="4">City 4</option>
          </select>
        </div>
        <div class="hidden md:inline-flex flex-col bg-white text-black rounded-s-none p-4 h-20">
          <label class="text-gray-500">Leave on</label>
          <input type="date" class="bg-white" />
        </div>
        <div
          class="hidden md:inline-flex flex-col bg-white text-black rounded-e-none p-4 me-1 h-20"
        >
          <label class="text-gray-500">Returning on</label>
          <input type="date" class="bg-white" />
        </div>
        <div class="hidden md:inline-flex flex-col bg-white text-black rounded-s-none p-4 h-20">
          <label class="text-gray-500">Passengers and flight class</label>
          <input type="text" value="2 Adult 3 Children 1 Infant" class="bg-white" />
        </div>
        <button
          @click="submitFilterHandler"
          type="button"
          class="inline-flex justify-center items-center gap-1 p-2.5 text-sm font-medium text-white bg-pink rounded-e-xl h-10 md:h-20"
        >
          <svg
            class="w-4 h-4"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
          </svg>
          <span>Search</span>
        </button>
      </div>
    </div>
    <div
      class="absolute bg-pink flex gap-4 md:gap-0 flex-col md:flex-row justify-evenly py-14 rounded-2xl m-auto left-0 right-0 w-10/12 floating-section"
    >
      <div class="flex flex-col justify-center items-center">
        <img src="@/assets/icons/ball.svg" class="w-10" />
        <span>Service 1</span>
      </div>
      <div class="flex flex-col justify-center items-center">
        <img src="@/assets/icons/ball.svg" class="w-10" />
        <span>Service 2</span>
      </div>
      <div class="flex flex-col justify-center items-center">
        <img src="@/assets/icons/ball.svg" class="w-10" />
        <span>Service 3</span>
      </div>
      <div class="flex flex-col justify-center items-center">
        <img src="@/assets/icons/ball.svg" class="w-10" />
        <span>Sport</span>
      </div>
      <div class="flex flex-col justify-center items-center">
        <img src="@/assets/icons/ball.svg" class="w-10" />
        <span>Cruise</span>
      </div>
      <div class="flex flex-col justify-center items-center">
        <img src="@/assets/icons/ball.svg" class="w-10" />
        <span>Holidays</span>
      </div>
      <div class="flex flex-col justify-center items-center">
        <img src="@/assets/icons/ball.svg" class="w-10" />
        <span>More services</span>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useHomeScreenFilters } from '@/core/useHomeScreenFilters.ts'

const { submitFilterHandler, changeFromHandler, changeToHandler, from, to } = useHomeScreenFilters()
</script>

<style scoped>
.floating-section {
  bottom: -16rem;
}
@media screen and (max-width: 767px) {
  .floating-section {
    bottom: -2rem;
  }
}
</style>
