<script setup lang="ts">
import MainNavbar from './../components/layouts/MainNavbar.vue'
import HomeScreenNavbar from './../components/layouts/HomeScreenNavbar.vue'
import MainFooter from './../components/layouts/MainFooter.vue'
</script>

<template>
  <body>
    <HomeScreenNavbar />
    <slot />
    <MainFooter />
  </body>
</template>
