<script setup lang="ts">
import MainNavbar from './../components/layouts/MainNavbar.vue'
import MainFooter from './../components/layouts/MainFooter.vue'
</script>

<template>
  <body>
    <MainNavbar />
    <slot />
    <MainFooter />
  </body>
</template>
